{% include "../layout/top.html"%}
<table>
    
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>날짜</td>
        <td>조회수</td>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{item.number}}</td>
            <td><a href='/board/view?idx={{item.idx}}&page={{page}}'>{{item.subject}}</a></td>
            <td>{{item.board_name}}</td>
            <td>{{item.today}}</td>
            <td>{{item.hit}}</td>
        </tr>
    {% endfor %}
    
</table>
<a href = "/board/write?page={{page}}">글쓰기</a>
<a href="/board/list?page={{page_minus}}"><</a>
<!-- <a href="/board/list?page=1">1</a> -->
{% for i in range(start,end) %}
    {% if i%10 == 0 %}
        <a href="/board/list?page={{(i/10)+1}}">{{(i/10)+1}}</a>
    {% endif %}
{% endfor %}
<a href="/board/list?page={{page_plus}}">></a>
{% include "../layout/bottom.html" %}

